/*
	All the stuff included in styles/extra will be compiled in each scss file
	**************************************************************************
	DO NOT USE THE @import METHOD
*/

* {
	outline: none;
	box-sizing: border-box;
}

html,
body {
	font-family: $fontFamily;
	font-size: $fontSize;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

section {
	@include container(100vw, 100vh, none, 35px);

	&.center {
		@include flex;
	}
}
